$header-height: 60px; /* 顶栏高度 */
$footer-height: 70px; /* 底栏高度 */

/* 主题色 */
$theme-color: #00d080;

/* font-size */
$ft-color-title: #333; /* 标题文字颜色 */
$ft-color-main: #666; /* 正文文字颜色 */
$ft-color-tip: #999; /* tip 文字颜色 */
